$primaryColor--light: #2a2e4b;
$primaryColor--dark: orange;
// light mode background colorchange
$background--light: white;

$black-text--light: black;

//  mode background colorchange
$background--dark: black;
$black-text--dark: white;
